<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/struts-config.xml</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>action_tmp</servlet-name>
    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/struts-config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>3</param-value>
    </init-param>
    <init-param>
      <param-name>detail</param-name>
      <param-value>3</param-value>
    </init-param>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>homePage.jsp</welcome-file>
  </welcome-file-list>
  <!--设置session永远不超时-->
  <session-config>
    <session-timeout>0</session-timeout>
  </session-config>
  <!--实现类-->
  <servlet>
    <servlet-name>UserController</servlet-name>
    <servlet-class>source.controller.UserController</servlet-class>
  </servlet>
  <!--映射-->
  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <url-pattern>/UserController</url-pattern>
  </servlet-mapping>
  <!--实现类-->
  <servlet>
    <servlet-name>ArticleController</servlet-name>
    <servlet-class>source.controller.ArticleController</servlet-class>
  </servlet>
  <!--映射-->
  <servlet-mapping>
    <servlet-name>ArticleController</servlet-name>
    <url-pattern>/ArticleController</url-pattern>
  </servlet-mapping>
  <!--实现类-->
  <servlet>
    <servlet-name>CommentController</servlet-name>
    <servlet-class>source.controller.CommentController</servlet-class>
  </servlet>
  <!--映射-->
  <servlet-mapping>
    <servlet-name>CommentController</servlet-name>
    <url-pattern>/CommentController</url-pattern>
  </servlet-mapping>
  <!--实现类-->
  <servlet>
    <servlet-name>VisitController</servlet-name>
    <servlet-class>source.controller.VisitController</servlet-class>
  </servlet>
  <!--映射-->
  <servlet-mapping>
    <servlet-name>VisitController</servlet-name>
    <url-pattern>/VisitController</url-pattern>
  </servlet-mapping>
  <!--实现类-->
  <servlet>
    <servlet-name>PageController</servlet-name>
    <servlet-class>source.controller.PageController</servlet-class>
  </servlet>
  <!--映射-->
  <servlet-mapping>
    <servlet-name>PageController</servlet-name>
    <url-pattern>/PageController</url-pattern>
  </servlet-mapping>
</web-app>

